body 
{
    width: 100%;
    height: auto;
    background: black;
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

.title-div 
{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


.title-text 
{
    position:relative;
    z-index: 10;
    color: white;
    font-family: 'Source Code Pro';
    display: inline-block;
    padding: 0;
    margin-left: -2%;
    margin-right: -2%;
}


.rainbow
{
    position:relative;
    z-index: 9;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: 7px solid black;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 900% 99%;
}

@keyframes rainbow_animation 
{
    0%,100% { background-position: 0 0; }
    50% { background-position: 100% 0; }
}

.btn {
    transition: all 0.8s;
    font-family: 'Source Code Pro';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
}





.btn:hover {
    background: white;
    color: black;
    transition: 0.8s;
}

#shortenURL {
    transform: translate(-50%, -200%);
}


.urlDesignPage {
    opacity: 0;
    background: black;
    display:flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0%;
    justify-content: center;
 
}


.urlDesignerBox {
    align-self:center;
    text-align: center;
    justify-content:center;
    border: 3px solid white;
    background: transparent;
    max-width: 1000%;
    max-height:100%;
    border-radius: 5px;
    display:inline-block;

}


.spacer {
    max-width: 10%;
    max-height:100%;
    left:0%;
}


.optionsText {
    font-family: 'Source Code Pro';
}

.white {
    color:white;
}

.textBox {
    background-color: transparent;
    color:white;
    font-family: 'Source Code Pro';
    border-radius: 5px;
    border: 3px solid white;
}

#shortener-text {
    position: relative;
    top:1%;
}
