body 
{
    margin:0;
    padding:0;
    background:#000;
    
}

.title-div 
{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


.title-text 
{
    color: white;
    font-family: 'Source Code Pro';
    display: inline-block;
    padding: 0;
    margin-left: -1%;
    margin-right: -1%;
}


.rainbow
{
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 1000% 100%;
}

@keyframes rainbow_animation 
{
    0%,100% { background-position: 0 0; }
    50% { background-position: 100% 0; }
}

.btn {
     transition: all 0.8s;
    font-family: 'Source Code Pro';
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
}





.btn:hover {
    background: white;
    color: black;
    transition: 0.8s;
}

#shortenURL {
    transform: translate(-50%, -200%);
}
