body {
    margin:0;
    padding:0;
    background:#000;
}
 
canvas {
    display:block;
}

#genLink {
    top: 50%;
    left: 50%;
    translate(50%, 50%);
    text-align: center;
    text-color: white;
    background-color: blue;
}
